:root {
  --grey_100: oklch(98.5% 0.002 247.839);
  --grey_200: oklch(96.7% 0.003 264.542);
  --grey_300: oklch(92.8% 0.006 264.531);
  --gray_600: oklch(55.1% 0.027 264.364);

  --blue_300: oklch(88.2% 0.059 254.128);
  --blue_600: oklch(62.3% 0.214 259.815);
  --blue_900: oklch(42.4% 0.199 265.638);
  --blue_1100: oklch(28.2% 0.091 267.935);
}
